@charset "UTF-8";

html {
    font-size: 100%;
}

@media screen and ( max-width: 1100px ) {
    body.fill-body {
        width: 1100px;
    }
}

body.fill-body {
    min-width: 1220px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
}

.nopadding {
    padding: 0 !important;
}

.noPaddingLeft {
    padding-left: 0 !important;
}

.noPaddingRight {
    padding-right: 0 !important;
}

.hidden {
    display: none;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.fLeft {
    float: left !important;
}

.fRight {
    float: right !important;
}

input, button, select, textarea {
    outline: none;
}

textarea {
    resize: none;
}

input::-webkit-input-placeholder {
    color: #bdbdbd;
}

input:-moz-placeholder {
    color: #bdbdbd;
}

.group {
    margin-bottom: 1rem;
}

.group:last-child {
    margin-bottom: 0;
}

.group .group-item {
    line-height: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin: 0;
}

.dash-line {
    border-bottom: 1px dashed #ddd;
}

/*form construction*/

input.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input.form-control :focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

input[type=search] {
    -webkit-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
        line-height: 34px
    }

    .input-group-sm input[type=date], .input-group-sm input[type=time], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month], input[type=date].input-sm, input[type=time].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm {
        line-height: 30px
    }

    .input-group-lg input[type=date], .input-group-lg input[type=time], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month], input[type=date].input-lg, input[type=time].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg {
        line-height: 46px
    }
}

.form-group {
    margin-bottom: 15px
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    /*vertical-align: middle*/
    height: 2rem;
    line-height: 2rem;
}

.form-inline .form-control-static {
    display: inline-block
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle
}

.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
    width: auto
}

.form-inline .input-group > .form-control {
    width: 100%
}

.form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle
}

.form-inline .checkbox, .form-inline .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle
}

.form-inline .checkbox label, .form-inline .radio label {
    padding-left: 0
}

.form-inline .checkbox input[type=checkbox], .form-inline .radio input[type=radio] {
    position: relative;
    margin-left: 0
}

.form-inline .has-feedback .form-control-feedback {
    top: 0
}

.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.disabled, input[disabled], a[disabled] {
    opacity: 0.65;
    cursor: not-allowed !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a[disabled] {
    pointer-events: none;
}

.dot-border-bottom {
    border-bottom: 1px dotted #D2D2D2;
}

.dot-border-top {
    border-top: 1px dotted #D2D2D2;
}

.main {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.main > .columns:first-child {
    width: 12%;
}

.main > .columns:last-child {
    float: left;
}

.clear-button, .clear-button:focus, .clear-button:hover {
    border: none;
    /*background: none;*/
}

button.clear-button, button.clear-button:focus, button.clear-button:hover {
    border: none;
    background: none;
}

button.clear-button[disabled] {
    cursor: no-drop;
    background-color: #fff;
    border-color: #ccc;
    opacity: 0.75;
}

input.clear-button[disabled] {
    cursor: no-drop;
    background-color: #ccc;
    border: none;
    opacity: 0.75;
}

body > form > input[type="file"] {
    display: none;
}

button.button-simple, input.button-simple {
    margin: 0 0.2rem 0.4rem;
    text-align: center;
    display: inline-block;
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
    border: 1px solid #dcdcdc;
    color: #fff;
}

button.button-simple:focus, input.button-simple:focus {
    background-color: #2285a2
}

label.inline {
    display: inline-block;
}

/*底部提交返回提交*/
.form-submit.operate {
    text-align: center;
    margin-top: 15px;
    padding-top: 30px;
    margin-bottom: 6rem;
    border-top: 1px solid #ddd;
}

.form-submit.operate a {
    display: inline-block;
    margin: 0 25px;
}

.form-btn-submit .confirm, .form-btn-submit .cancel {
    padding: 0.6rem 2rem;
    width: 47%;
    font-size: 1.2rem;
}

.form-btn-submit .cancel {
    background-color: #767676;
}

.submit-button {
    margin: 0 0.2rem 0.4rem;
    text-align: center;
    display: inline-block;
    border: 1px solid #dcdcdc;

    padding: 0.6rem 2rem;
    width: 30%;
    font-size: 1.2rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.hide {
    display: none;
}

.row {
    max-width: 100%;
}

/*Table  房间中的费用显示会用到*/

.bootstrap-table {
    clear: both;
    width: 100%;
    border: 0px;
}

.bootstrap-table caption {
    display: none;
}

.bootstrap-table tr {
    vertical-align: middle;
    height: 40px;
    text-align: center;
}

.bootstrap-table th {
    height: 40px;
    background-color: #e0f2ff;
}

.bootstrap-table th .th-box {
    height: 40px;
    padding: 0;
    width: 100%;
    line-height: 40px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #dbe3e8;
}

.bootstrap-table th:first-child .th-box {
    border-left: 0;
}

.bootstrap-table th:last-child .th-box {
    border-right: 0;
}

.bootstrap-table td .td-box {
    padding: 0;
    height: 40px;
    text-overflow: ellipsis;
    line-height: 40px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #eaeaea;
    overflow: hidden;
}

.bootstrap-table td:first-child .td-box {
    border-left: 0;
}

.bootstrap-table td:last-child .td-box {
    border-right: 0;
}

.bootstrap-table th .th-box span:nth-child(1) {
    margin-right: 10px;
}

.bootstrap-table tr:nth-child(2n-1) {
    background-color: #fefefe;
}

.bootstrap-table tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.loading {
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}

/*reset*/

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    height: 34px;
    line-height: 20px;
}

/*anti  antd*/
hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 0.5rem 0 1.1875rem !important;
}

textarea {
    margin: 0 0 1rem 0 !important;
    padding: .5rem !important;
}

.filter-box-wrapper {
    width: 340px;
    margin: 30px 40px;
}

.ant-site-loading {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    transition: opacity .45s;
    pointer-events: none;
    opacity: 0;
}

.ant-site-loading img {
    transform-style: preserve-3d;
    display: block;
    width: 64px;
    margin: 0 auto 10px;
    animation: loadTween 2S cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

#app:empty + .ant-site-loading {
    opacity: 1;
}

.word-break {
    word-wrap: break-word;
    word-break: normal;
}
