# /node_modules/* and /bower_components/* ignored by default


app/assets/*
app/routes/*
app/components/*
app/mockData/*

#should fix
app/config/dict.jsx
app/stores/app.js
app/views/signin.jsx
app/optimizeRoute.jsx
app/router.jsx

#actions
app/actions/Apartment/*
app/actions/baseInfo/*
app/actions/DataHandler/*
app/actions/Finance/*
app/actions/Financial/*
app/actions/HouseKeeper/*
app/actions/HouseResource/*
app/actions/MainTain/*
app/actions/memberManager/*
app/actions/message/*
app/actions/OperationDaily/*
app/actions/Organization/*
app/actions/report/*
app/actions/Service/*
app/actions/SystemConfig/*
app/actions/Zone/*

#temp actions
app/actions/houseKeeperActions.jsx
app/actions/homeActions.jsx
app/actions/actions.jsx

#store
app/stores/Apartment/*
app/stores/DataHandler/*
app/stores/Finance/*
app/stores/Financial/*
app/stores/HouseKeeper/*
app/stores/HouseResource/*
app/stores/Maintain/*
app/stores/member/*
app/stores/memberManager/*
app/stores/message/*
app/stores/OperationDaily/*
app/stores/Organization/*
app/stores/Report/*
app/stores/Service/*
app/stores/SystemConfig/*
app/stores/Zone/*

#temp store
app/stores/configStore.jsx
app/stores/houseKeeperStore.jsx
app/stores/homeStores.jsx
app/stores/signinStore.jsx
app/stores/index.js
app/stores/app.js
app/stores/informationHKStore.jsx
app/stores/memberStore.jsx
app/stores/settingStore.jsx
app/stores/apartmentStore.jsx

#view
app/views/apartment/*
!app/views/apartment/SharedResources/
app/views/CommonComponents/*
app/views/config/*
!app/views/config/ResourcePrice/
app/views/DataHandler/*
app/views/Finance/*
!app/views/Finance/Todo/
app/views/Financial/*
app/views/Help/*
app/views/HouseKeeper/*
app/views/HouseResource/*
app/views/Maintain/*
app/views/member/*
app/views/memberManager/*
app/views/Message/*
app/views/OperationDaily/*
app/views/Organization/*
app/views/Report/*
app/views/Service/*
app/views/setting/*
app/views/SystemConfig/*
app/views/withoutSigin/*
app/views/Zone/*
app/views/AssetOperation/ElectricOperation/ContractProperty/*
